# Dependencies
/node_modules/
/.pnp
/.pnp.js

# Production build
/build

# Environment variables
/.env
/.env.local
/.env.development
/.env.production
/.env.test

# Log files
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*

# Editor-specific files
/.idea
/.vscode
/*.suo
/*.ntvs*
/*.njsproj
/*.sln
/*.sw?